body{
	background-color: black;
}

	#wrapper {
				
				width: 1022px;
				margin: auto;
				
			}
			#header {
				color: red;
				font-family: Arial, sans-serif;
				font-size: 70px;
				font-style: italic;
				font-weight: bold;
				padding: 10px;
				padding: 0 50px 0 50px;
				border: 1px solid #ccc;
				height: 250px;
				margin: 10px 0px 5px 0px;
				background: black;
				background-image: url('http://callumscars.com/images/Porsche_Symbol.jpg');
				background-repeat: no-repeat;
				background-position: right;
				
				
			}
			
			
			#header_lower_text	{
				color: red;
				font-family: Arial, sans-serif;
				font-size: 50px;
				font-style: italic;
				font-weight: normal;
				margin-top: 30px;
				
			}
			
			#headerpic	{
				
				
				
			}
			#leftcolumn {
				color: #EEF3E2;
				font-family: "Times New Roman", serif;
				font-size: 50px;
				font-style: oblique;
				border: 1px solid #ccc;
				background: #8b0000;
				margin: 0px 5px 5px 0px;
				padding: 10px;
				width: 245px;
				float: left;
				height: 2138px;
			}
			
			#leftcolumn_text	{
				font-family: "Times New Roman", serif;
				font-size: 30px;
				font-style: normal;
				color: silver;
				font-weight: bold;
				margin-bottom: 24px;
				
			}
			#rightcolumn {
				color: black;
				font-family: "Courier New", monospace;
				font-size: 50px;
				font-style: oblique;
				font-weight: bold;
				float: right;
				border: 1px solid #ccc;
				background: #b8860b;
				margin: 0 0 5px;
				padding: 10px;
				
				width: 728px;
			}
			
			#juicystuff	{
			padding-top: 25px;
			text-align: center;
			margin: 0px auto;

				
			}
			
			.carpix	{
				color: black;
				font-family: "Courier New", monospace;
				font-size: 35px;
				font-style: oblique;
				font-weight: bold;
				
				
				
			}
			#footer {
				color: #333333;
				font-family: Georgia, "Times New Roman", Times, serif;
				font-size: 30px;
				font-style: normal;
				border: 1px solid #ccc;
				background: #235154;
				margin: 0 0 10px;
				padding: 10px;
				padding-bottom: 20px;
				width: 1000px;
				clear: both;
			}
			
			#navlist li	{
				display: inline;
				list-style-type: none;
				padding-right: 20px;
			}
a:link {color:#00FF00}      /* unvisited link */
a:visited {color:blue}  /* visited link */
a:hover {color:black}  /* mouse over link */
a:active {color:black}  /* selected link */